body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: #160042;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: unset;
  color: unset;
}

span {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}

textarea {
  font-family: 'Manrope', sans-serif;
  color: #160042;
}

textarea::placeholder {
  font-family: 'Manrope', sans-serif;
  color: #160042;
}

button {
  font-family: 'Manrope', sans-serif;
}

input {
  font-family: 'Manrope', sans-serif;
  color: #160042;
}

input::placeholder {
  font-family: 'Manrope', sans-serif;
  color: #160042;
}

.main__header {
  position: absolute;
  left: 0;
  top: 25px;
  width: 100%;
  height: max-content;
  display: flex;
  color: white;
  border-color: rgba(255, 255, 255, 0.4);
  z-index: 3;
}

.main__header_dark {
  color: #160042;
  border-color: rgba(22, 0, 66, 0.4);
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 1;
  padding-right: 45px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: inherit;
}

.header__logo a {
  height: 50px;
}

.header__logo img {
  height: 50px;
  width: auto;
}

.header__lang {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  flex: 1;
  padding-left: 25px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.header__lang_dark {
  color: rgba(22, 0, 66, 0.4);
}

.lang__elem {
  cursor: pointer;
  transition: 0.3s;
}

.lang__elem:hover {
  color: white;
  transition: 0.3s;
}

.header__lang_dark .lang__elem:hover {
  color: rgba(22, 0, 66, 1);
  transition: 0.3s;
}

.lang__elem_active {
  color: white;
  transition: 0.3s;
}

.header__lang_dark .lang__elem_active {
  color: rgba(22, 0, 66, 1);
  transition: 0.3s;
}

.header__nav {
  display: flex;
  gap: 40px;
  padding: 25px 60px;
  border: 1px solid;
  border-color: inherit;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.nav__elem {
  cursor: pointer;
  transition: 0.3s;
}

.nav__elem:hover {
  cursor: pointer;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}

.main__header_dark .nav__elem:hover {
  cursor: pointer;
  transition: 0.3s;
  color: rgba(22, 0, 66, 0.5);
}

.main__footer {
  position: relative;
  padding-top: 75px;
  padding-bottom: 60px;
  position: relative;
  background-color: #0c0254;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.main__wrapper_footer {
  position: relative;
  z-index: 3;
}

.footer__info {
  width: 490px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 40px;
}

.footer__infoBlock {
  width: 220px;
}

.footer__infoName {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.footer__infoText {
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.footer__links {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.footer__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.3s;
}

.footer__link:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.footer__media {
  margin-top: 65px;
  display: flex;
  gap: 20px;
}

.media__content {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}

.media__content:hover {
  background-color: white;
  color: var(--color);
  transition: 0.3s;
}

.footer__copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}

.footer__extra {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__meta {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__decorator {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.footer__docs {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__docsContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__docsContent p {
  opacity: 1;
  transition: 0.3s;
}

.footer__docsContent:hover p {
  opacity: 0.5;
  transition: 0.3s;
}

.footer__docsContent img {
  width: 8px;
  height: auto;
}

.footer__lang {
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.beforeAnimationAppearance {
  opacity: 0;
  transform: translateY(20px);
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: ease-out;
}

.afterAnimationAppearance {
  opacity: 1;
  transform: translateY(0px);
}

.backDecorator_needAnimation {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.backDecorator_notNeedAnimation {
  opacity: 1;
}

.backDecorator {
  position: absolute;
  width: var(--width);
  height: var(--height);
  top: var(--top);
  bottom: var(--bottom);
  left: var(--left);
  right: var(--right);
  background: var(--background);
  filter: blur(200px);
  z-index: 1;
}

.backNoize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url(../assets/noize.png);
  background-repeat: repeat;
  z-index: 2;
}

.main__wrapper {
  position: relative;
  width: 1200px;
  margin: auto;
}

.main__heading {
  position: relative;
  margin: 100px 0;
}

.heading_light {
  color: white;
}

.heading__content {
  font-weight: bold;
  font-size: 80px;
  line-height: 109px;
  text-transform: uppercase;
}

.heading__number {
  position: absolute;
  top: 22px;
  left: calc(-12px - 15px);
  width: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #00bbb2;
}

.heading_light .heading__number {
  color: white;
}

.heading__decoration {
  position: absolute;
  bottom: 22px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #160042;
}

.heading_light .heading__decoration {
  background: white;
}

.back {
  width: max-content;
  transition: 0.3s;
  cursor: pointer;
}

.back__link {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 30px;
}

.back:hover .back__text {
  transform: translateX(-15px);
  transition: 0.3s;
}

.back:hover .back__button {
  background: #00bbb2;
  transition: 0.3s;
}

.back .back__button path {
  stroke: #00bbb2;
  transition: 0.3s;
}

.back:hover .back__button path {
  stroke: white;
  transition: 0.3s;
}

.back__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #00bbb2;
  transition: 0.3s;
}

.back__button {
  width: 55px;
  height: 55px;
  border: 1px solid #00bbb2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.main__mobileHeader {
  display: none;
}

.main__burger {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  display: none;
  transition: 0.5s;
  z-index: 5;
}

.burger__content {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0c0254;
}

@media screen and (max-width: 1279px) {
  .main__wrapper {
    width: 728px;
  }

  .main__header {
    display: none;
  }

  .main__mobileHeader {
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
    height: max-content;
    display: flex;
    color: white;
    z-index: 3;
  }

  .main__mobileHeader_dark {
    color: #160042;
  }

  .mobileHeader__logo {
    width: 40px;
    height: 40px;
    width: max-content;
  }

  .mobileHeader__logo a {
    height: 40px;
  }

  .mobileHeader__logo img {
    height: 40px;
    width: auto;
  }

  .main__wrapper_mobileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger_active {
    width: 100%;
    height: 100vh;
    transition: 0.5s;
  }

  .mobileHeader__burger {
    cursor: pointer;
  }

  .main__burger {
    display: block;
  }

  .burger__langs {
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 3;
  }

  .burger__langs .header__lang {
    border: none;
  }

  .mobileHeader_burger {
    z-index: 3;
  }

  .burger__texts {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 3;
  }

  .burger__text {
    width: 312px;
    margin-bottom: 30px;
  }

  .burger__text:nth-child(-1) {
    margin-bottom: 0px;
  }

  .burger__text:nth-child(-2) {
    margin-bottom: 0px;
  }

  .backDecorator {
    transform: scale(0.7);
  }

  .main__heading {
    margin: 60px 0;
  }

  .heading__content {
    font-size: 50px;
    line-height: 68px;
  }

  .heading__decoration {
    bottom: 14px;
  }

  .heading__number {
    top: 12px;
  }

  .main__footer {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .footer__logo {
    width: 40px;
    height: 40px;
  }

  .footer__logo img {
    width: 100%;
    height: auto;
  }

  .footer__content {
    margin-top: 60px;
  }

  .footer__text {
    width: 303px;
  }

  .footer__links {
    width: 100%;
    column-gap: 0;
    row-gap: 22px;
  }

  .footer__link {
    width: 50%;
    font-size: 14px;
    line-height: 19px;
  }

  .footer__media {
    margin-top: 60px;
    gap: unset;
    justify-content: space-between;
  }

  .media__content {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .footer__info {
    margin-left: 100px;
    width: calc(100% - 303px - 100px);
    gap: unset;
  }

  .footer__infoBlock {
    width: 50%;
  }

  .footer__infoName {
    font-size: 14px;
    line-height: 19px;
  }

  .footer__infoText {
    font-size: 14px;
    line-height: 19px;
  }

  .footer__extra {
    margin-top: 60px;
    padding-top: 20px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 19px;
  }

  .footer__docsContent {
    font-size: 14px;
    line-height: 19px;
  }

  .header__lang {
    font-size: 14px;
    line-height: 19px;
  }

  .footer__lang {
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (max-width: 767px) {
  .main__wrapper {
    width: 312px;
  }

  .backDecorator {
    transform: scale(0.5);
  }

  .backDecorator_notMobile {
    display: none;
  }

  .backDecorator_top {
    width: 400px !important;
    height: 400px !important;
    top: -125px !important;
    right: -150px !important;
    filter: blur(100px) !important;
  }

  .backDecorator_middle {
    width: 400px !important;
    height: 400px !important;
    left: calc(50% - 200px);
    top: calc(50% - 250px);
    filter: blur(100px) !important;
  }

  .burger__text {
    font-size: 20px;
    line-height: 27px;
  }

  .main__heading {
    margin: 40px 0;
  }

  .heading__number {
    display: none;
  }

  .heading__content {
    font-size: 30px;
    line-height: 41px;
  }

  .heading__decoration {
    bottom: 8px;
  }

  .main__footer {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .footer__content {
    display: block;
  }

  .footer__info {
    width: 100%;
    margin-left: unset;
    margin-top: 60px;
    row-gap: 40px;
  }

  .footer__extra {
    display: block;
    margin-top: 40px;
  }

  .footer__meta {
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .footer__decorator {
    display: none;
  }

  .footer__copyright {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
  }

  .footer__docsContent {
    width: 100%;
    font-size: 12px;
    line-height: 16px;
  }
}
