.main__intro {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #03aac0;
  overflow: hidden;
}

.intro__hint {
  position: absolute;
  width: 30px;
  left: clac(50% - 15px);
  bottom: 30px;
}

.intro__hintElem {
  animation: translation 1s ease var(--delay) infinite alternate-reverse;
}

@keyframes translation {
  from {
    transform: translateY(7px);
  }

  to {
    transform: translateY(0px);
  }
}

.intro__hintElem_small {
  margin-left: calc(50% - 7.5px);
  margin-bottom: -20px;
}

.intro__text {
  position: relative;
  z-index: 2;
}

.intro__name {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 150px;
  line-height: 217px;
  text-transform: uppercase;
  color: #ffffff;
}

.intro__extra {
  margin-top: -18px;
  text-align: center;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffffff;
}

.intro__controls {
  position: absolute;
  bottom: 125px;
  left: calc(50% - 259px);
  width: 518px;
  height: max-content;
  display: flex;
  gap: 30px;
  z-index: 2;
}

.intro__button {
  position: relative;
  width: 244px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  background: unset;
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.intro__button p {
  position: relative;
  z-index: 2;
}

.intro__buttonAnimator {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 1;
  background: #00bbb2;
  animation: watering 1.5s ease-out var(--delay) 1 forwards;
}

@keyframes watering {
  0% {
    left: 0;
    width: 0;
  }

  40% {
    left: 0;
    width: 100%;
  }

  60% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0;
  }
}

.intro__button:hover {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #00bbb2;
  transition: 0.3s;
}

.intro__button_inverted {
  color: #0c0254;
  background: white;
}

.intro__button_inverted:hover {
  color: white;
}

.intro__animator {
  width: 484px;
  height: auto;
  position: absolute;
  bottom: 220px;
  left: calc(50% - 242px);
  z-index: 1;
  opacity: 0;
  animation: flashing 3s linear 2s infinite alternate;
}

@keyframes flashing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.intro__animator img {
  width: 100%;
  height: auto;
}

.team__content {
  margin-bottom: 100px;
  display: flex;
  gap: 60px;
}

.team__layout {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.team__layout_vertical {
  width: 470px;
}

.team__layout_horizontal {
  padding-top: 65px;
  width: 670px;
}

.team__member {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: white;
}

.team__member a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team__memberContent {
  position: relative;
  height: 100%;
  z-index: 3;
  padding: 50px 35px;
}

.team__member_verticalBig {
  height: 530px;
  background: linear-gradient(134.11deg, #09be9b 15.6%, #199dba 104.9%, #1a4b9d 248.57%);
}

.team__member_verticalSmall {
  height: 510px;
  background: linear-gradient(133.01deg, #09be9b -39.94%, #199dba 51.06%, #1a4b9d 197.44%);
}

.team__member_horizontalBig {
  height: 350px;
  background: linear-gradient(114.18deg, #09be9b -45.47%, #199dba 39.67%, #1a4b9d 176.64%);
}

.team__member_horizontalSmall {
  height: 320px;
  background: linear-gradient(112.32deg, #09be9b -84.01%, #199dba 3.46%, #1a4b9d 144.16%);
}

.team__member_horizontalMedium {
  height: 340px;
  background: linear-gradient(113.57deg, #09be9b -116.45%, #199dba -30.55%, #1a4b9d 107.64%);
}

.team__name {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
}

.team__post {
  width: 250px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.team__link {
  position: relative;
  margin-top: 30px;
  width: 55px;
  height: 55px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.team__member:hover .team__link {
  background: #ffffff;
  transition: 0.3s;
}

.team__member path {
  stroke: white;
  transition: 0.3s;
}

.team__member:hover path {
  stroke: #160042;
  transition: 0.3s;
}

.team__photo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: auto;
}

.team__photo img {
  height: 100%;
  width: auto;
}

.team__member_verticalSmall .team__photo {
  right: 17px;
}

.team__member_horizontalBig .team__photo {
  right: 53px;
}

.team__member_horizontalSmall .team__photo {
  right: 99px;
}

.team__member_horizontalMedium .team__photo {
  right: 88px;
}

.main__projects {
  position: relative;
  background-color: #03aac0;
  overflow: auto;
  transition: 0.5s;
}

.main__projects_isHovered0 {
  background-color: #09bea8;
  transition: 0.5s;
}

.main__projects_isHovered1 {
  background-color: #11b0a9;
  transition: 0.5s;
}

.main__projects_isHovered2 {
  background-color: #18a1b7;
  transition: 0.5s;
}

.main__projects_isHovered3 {
  background-color: #1a88b3;
  transition: 0.5s;
}

.main__projects_isHovered4 {
  background-color: #1a6ca9;
  transition: 0.5s;
}

.main__projects_isHovered5 {
  background-color: #1a4b9d;
  transition: 0.5s;
}

.projects__decoration {
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  transition: 0.5s;
}

.projects__decoration {
  background: #0b36bc;
}

.projects__decoration_active-0 {
  background: #00e2d5;
}

.projects__decoration_active-1 {
  background: #06f2e4;
}

.projects__decoration_active-2 {
  background: #21fff2;
}

.projects__decoration_active-3 {
  background: #00cfeb;
}

.projects__decoration_active-4 {
  background: #00bae2;
}

.projects__decoration_active-5 {
  background: #00e2d5;
}

.projects__decoration_0 {
  width: 587px;
  height: 587px;
  top: 345px;
  left: 80px;
}

.projects__decoration_1 {
  width: 749px;
  height: 749px;
  bottom: 36px;
  right: 17px;
}

.projects__content {
  margin-bottom: 100px;
}

.projects__project {
  position: relative;
  width: 100%;
  height: max-content;
  background-color: white;
  border: 1px solid #160042;
  color: #160042;
  transition: 0.5s;
}

.projects__project a {
  width: 100%;
  height: max-content;
}

.projects__inner {
  padding: 35px 60px;
}

.projects__project:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(29, 28, 39, 0);
  color: white;
  transition: 0.5s;
}

.projects__project:not(:first-child) {
  margin-top: -1px;
}

.projects__name {
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
  text-transform: uppercase;
}

.projects__text {
  width: 600px;
  margin-top: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #6b7094;
  transition: 0.5s;
}

.projects__link {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #160042;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__project:hover .projects__link {
  border: 1px solid white;
  background: white;
  transition: 0.5s;
}

.projects__project:hover .projects__text {
  color: white;
  transition: 0.5s;
}

.projects__project .projects__link path {
  stroke: #160042;
  transition: 0.5s;
}

.projects__project:hover .projects__link path {
  stroke: #160042;
  transition: 0.5s;
}

.projects__linkText {
  position: absolute;
  width: 0;
  right: 75px;
  overflow: hidden;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  transition: 0.5s;
}

.projects__project:hover .projects__linkText {
  width: 175px;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.projects__linkTextInner {
  width: 175px;
}

.history__gallery {
  width: max-content;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 150px;
  display: flex;
  gap: 30px;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gallery_added-1 {
  width: 228px;
}

.gallery_added-2 {
  width: 294px;
}

.history__content {
  position: relative;
  display: flex;
  gap: 30px;
  width: 100%;
}

.history__decoration {
  width: 5px;
  min-height: 100%;
  background: linear-gradient(180deg, #3520d1 0%, #03aac0 100%);
}

.history__sticker {
  width: calc(100% - 5px);
  height: 100%;
}

.history__episode {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.history__year {
  position: sticky;
  top: 20px;
  height: max-content;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
}

.history__year_0 {
  color: #3427d1;
}

.history__year_1 {
  color: #2943ce;
}

.history__year_2 {
  color: #1282c6;
}

.history__year_3 {
  color: #06a5c1;
}

.history__episode:not(:last-child) {
  margin-bottom: 100px;
}

.history__text {
  width: 570px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.news__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 60px;
}

.news__block {
  width: 570px;
  padding: 10px 0 10px 30px;
  border-left: 5px solid #00bbb2;
}

.news__meta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.news__date {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(29, 28, 39, 0.5);
}

.news__decorator {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(29, 28, 39, 0.3);
}

.news__source {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #00bbb2;
}

.news__name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #160042;
  transition: 0.3s;
}

.news__block:hover .news__name {
  color: #00bbb2;
  transition: 0.3s;
}

.news__more {
  width: 100%;
  height: 62px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #160042;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #160042;
  cursor: pointer;
  transition: 0.3s;
}

.news__more:hover {
  border: 1px solid #00bbb2;
  background-color: #00bbb2;
  color: white;
}

.main__info {
  margin-top: 200px;
  margin-bottom: 150px;
}

.info__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 35px 60px;
  background: #ffffff;
  border: 1px solid #160042;
}

.info__heading {
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
  text-transform: uppercase;
  color: #000000;
}

.info__text {
  width: 507px;
  margin-top: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #6b7094;
}

.info__content {
  width: 400px;
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.info__input {
  width: 100%;
  height: 62px;
  padding-left: 25px;
  background: #ffffff;
  border: 1px solid rgba(29, 28, 39, 0.5);
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: rgba(29, 28, 39, 1);
  outline: none;
  transition: 0.3s;
}

.info__input:focus {
  color: rgba(29, 28, 39, 1);
  border: 1px solid rgba(29, 28, 39, 1);
  transition: 0.3s;
}

.info__input::placeholder {
  color: rgba(29, 28, 39, 0.5);
}

.info__textArea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 120px;
  resize: none;
  padding: 19px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  outline: none;
  border: 1px solid rgba(29, 28, 39, 0.5);
  color: rgba(29, 28, 39, 1);
  transition: 0.3s;
}

.info__textArea:focus {
  color: rgba(29, 28, 39, 1);
  border: 1px solid rgba(29, 28, 39, 1);
  transition: 0.3s;
}

.info__textArea::placeholder {
  color: rgba(29, 28, 39, 0.5);
}

.info__submit {
  width: 100%;
  height: 62px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00bbb2;
  outline: none;
  border: 1px solid #00bbb2;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.info__submit:hover {
  background: white;
  color: #00bbb2;
  transition: 0.3s;
}

.info__donation {
  position: relative;
  width: 100%;
  padding: 35px 60px;
  background: #7c077e;
  overflow: hidden;
}

.donation__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.info__heading_inverted {
  color: white;
}

.info__text_inverted {
  width: 510px;
  color: white;
}

.info__submit_inverted {
  width: 400px;
  border: 1px solid #00bbb2;
  color: #00bbb2;
  background: white;
}

.info__submit_inverted:hover {
  border: 1px solid #00bbb2;
  color: white;
  background: #00bbb2;
}

.main__points {
  position: relative;
  overflow: auto;
  background: #03aac0;
}

.backNoize_points {
  opacity: 0.1;
}

.main__wrapper_points {
  position: relative;
  z-index: 3;
}

.points__block {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.points__block_alternate {
  flex-direction: row-reverse;
}

.points__textBlock {
  width: 570px;
}

.points__name {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
}

.gallery__contentBlock {
  margin: 50px 0;
  min-height: 350px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  opacity: 1;
  transition: 0.2s;
}

.gallery__contentBlock_hidden {
  opacity: 0;
  transition: 0.2s;
}

.gallery__controls {
  display: flex;
  width: 100%;
}

.gallery__controlCell {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  width: 140px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}

.gallery__controlCell:hover {
  background: #ffffff;
  color: #03aac0;
  transition: 0.5s;
}

.gallery__controlCell_active {
  background: #ffffff;
  color: #03aac0;
  transition: 0.5s;
}

.gallery__footer {
  border-top: 1px solid #ffffff;
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.gallery__footerControls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.gallery__controlButton {
  width: 58px;
  height: 58px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}

.gallery__controlButton_disabled {
  opacity: 0.5;
  transition: 0.5s;
  cursor: default;
}

.gallery__controlButton:not(.gallery__controlButton_disabled):hover {
  background: white;
  transition: 0.5s;
}

.gallery__controlButton path {
  stroke: white;
  transition: 0.5s;
}

.gallery__controlButton:not(.gallery__controlButton_disabled):hover path {
  stroke: #03aac0;
  transition: 0.5s;
}

.gallery__footerPagination {
  display: flex;
  gap: 10px;
}

.pagination__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.pagination__current {
  color: rgba(255, 255, 255, 0.5);
}

.points__imageBlock {
  width: 480px;
}

.backNoize_projects {
  opacity: 0.1;
  z-index: unset;
}

.backNoize_team {
  opacity: 0.1;
}

.backNoize_intro {
  opacity: 0.15;
}
