body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: #1d1c27;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: unset;
  color: unset;
}

span {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}

input {
  font-family: 'Manrope', sans-serif;
  color: #1d1c27;
}

input::placeholder {
  font-family: 'Manrope', sans-serif;
  color: #1d1c27;
}

.main__intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../assets/intro_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main__wrapper {
  position: relative;
  width: 1200px;
  margin: auto;
}

.main__heading {
  position: relative;
  margin: 100px 0;
}

.heading_light {
  color: white;
}

.heading__content {
  font-weight: bold;
  font-size: 80px;
  line-height: 109px;
  text-transform: uppercase;
}

.heading__number {
  position: absolute;
  top: 22px;
  left: calc(-12px - 15px);
  width: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #00bbb2;
}

.heading_light .heading__number {
  color: white;
}

.heading__decoration {
  position: absolute;
  bottom: 22px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #1d1c27;
}

.heading_light .heading__decoration {
  background: white;
}

.team__content {
  margin-bottom: 100px;
  display: flex;
  gap: 60px;
}

.team__layout {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.team__layout_vertical {
  width: 470px;
}

.team__layout_horizontal {
  padding-top: 65px;
  width: 670px;
}

.team__member {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: white;
}

.team__member a {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 35px;
  width: 100%;
  height: 100%;
}

.team__member_verticalBig {
  height: 530px;
  background: url(../assets/member_1.png);
  background-size: cover;
}

.team__member_verticalSmall {
  height: 510px;
  background: url(../assets/member_2.png);
  background-size: cover;
}

.team__member_horizontalBig {
  height: 350px;
  background: url(../assets/member_3.png);
  background-size: cover;
}

.team__member_horizontalSmall {
  height: 320px;
  background: url(../assets/member_4.png);
  background-size: cover;
}

.team__member_horizontalMedium {
  height: 340px;
  background: url(../assets/member_5.png);
  background-size: cover;
}

.team__name {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
}

.team__post {
  width: 250px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.team__link {
  position: relative;
  margin-top: 30px;
  width: 55px;
  height: 55px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.team__member:hover .team__link {
  background: #ffffff;
  transition: 0.3s;
}

.team__member path {
  stroke: white;
  transition: 0.3s;
}

.team__member:hover path {
  stroke: #1d1c27;
  transition: 0.3s;
}

.team__photo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: auto;
}

.team__photo img {
  height: 100%;
  width: auto;
}

.team__member_verticalSmall .team__photo {
  right: 17px;
}

.team__member_horizontalBig .team__photo {
  right: 53px;
}

.team__member_horizontalSmall .team__photo {
  right: 99px;
}

.team__member_horizontalMedium .team__photo {
  right: 88px;
}

.main__projects {
  position: relative;
  background-color: #03aac0;
  background-image: url(../assets/filter.png);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  transition: 0.5s;
}

.main__projects_isHovered0 {
  background-color: #09bea8;
  transition: 0.5s;
}

.main__projects_isHovered1 {
  background-color: #09bea8;
  transition: 0.5s;
}

.main__projects_isHovered2 {
  background-color: #09bea8;
  transition: 0.5s;
}

.main__projects_isHovered3 {
  background-color: #09bea8;
  transition: 0.5s;
}

.main__projects_isHovered4 {
  background-color: #09bea8;
  transition: 0.5s;
}

.main__projects_isHovered5 {
  background-color: #09bea8;
  transition: 0.5s;
}

.projects__decoration {
  position: absolute;
  filter: blur(150px);
  transition: 0.5s;
}

.projects__decoration {
  background: #0b36bc;
}

.projects__decoration_active-0 {
  background: red;
}

.projects__decoration_active-1 {
  background: yellow;
}

.projects__decoration_active-2 {
  background: red;
}

.projects__decoration_active-3 {
  background: yellow;
}

.projects__decoration_active-4 {
  background: red;
}

.projects__decoration_active-5 {
  background: yellow;
}

.projects__decoration_0 {
  width: 300px;
  height: 300px;
  top: 460px;
  left: 100px;
}

.projects__content {
  margin-bottom: 100px;
}

.projects__project {
  position: relative;
  width: 100%;
  height: max-content;
  background-color: white;
  border: 1px solid #1d1c27;
  color: #1d1c27;
  transition: 0.5s;
}

.projects__project a {
  width: 100%;
  height: max-content;
}

.projects__inner {
  padding: 35px 60px;
}

.projects__project:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(29, 28, 39, 0);
  color: white;
  transition: 0.5s;
}

.projects__project:not(:first-child) {
  margin-top: -1px;
}

.projects__name {
  font-weight: 600;
  font-size: 60px;
  line-height: 82px;
  text-transform: uppercase;
}

.projects__text {
  width: 600px;
  margin-top: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.projects__link {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #1d1c27;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__project:hover .projects__link {
  border: 1px solid white;
  background: white;
  transition: 0.5s;
}

.projects__project .projects__link path {
  stroke: #1d1c27;
  transition: 0.5s;
}

.projects__project:hover .projects__link path {
  stroke: #1d1c27;
  transition: 0.5s;
}

.projects__linkText {
  position: absolute;
  width: 0;
  right: 75px;
  overflow: hidden;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  transition: 0.5s;
}

.projects__project:hover .projects__linkText {
  width: 175px;
  transition: 0.5s;
  transition-delay: 0.3s;
}

.projects__linkTextInner {
  width: 175px;
}

.history__gallery {
  width: max-content;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 150px;
  display: flex;
  gap: 30px;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gallery_added-1 {
  width: 228px;
}

.gallery_added-2 {
  width: 294px;
}

.history__content {
  position: relative;
  display: flex;
  gap: 30px;
  width: 100%;
}

.history__decoration {
  width: 5px;
  min-height: 100%;
  background: linear-gradient(180deg, #3520d1 0%, #03aac0 100%);
}

.history__sticker {
  width: calc(100% - 5px);
  height: 100%;
}

.history__episode {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.history__year {
  position: sticky;
  top: 20px;
  height: max-content;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
}

.history__year_0 {
  color: #3427d1;
}

.history__year_1 {
  color: #2943ce;
}

.history__year_2 {
  color: #1282c6;
}

.history__year_3 {
  color: #06a5c1;
}

.history__episode:not(:last-child) {
  margin-bottom: 100px;
}

.history__text {
  width: 570px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

.main__footer {
  padding-top: 75px;
  padding-bottom: 60px;
  position: relative;
  height: 515px;
  background: url(../assets/footer_back.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__links {
  width: 420px;
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.footer__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.3s;
}

.footer__link:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.footer__media {
  margin-top: 65px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.media__content {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.media__content:hover {
  background-color: white;
  color: var(--color);
  transition: 0.3s;
}

.footer__copyright {
  margin-top: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}
