.main__project {
  padding-top: 200px;
  padding-bottom: 100px;
}

.project__container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.project__text {
  width: 800px;
}

.project__name {
  font-weight: 600;
  font-size: 80px;
  line-height: 109px;
  color: #160042;
}

.project__contentBox {
  width: 100%;
  margin-top: 30px;
}

.project__meta {
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #6b7094;
  margin-bottom: 90px;
}

.project__image {
  max-width: 100%;
  max-height: 400px;
  margin-bottom: 60px;
}

.project__paragraph {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #160042;
}

.project__footer {
  width: 100%;
  padding-top: 40px;
  border-top: 1px solid rgba(22, 0, 66, 0.2);
}

.project__social {
  display: flex;
  align-items: center;
}

.social__icon {
  width: 60px;
  height: 60px;
  margin-right: 25px;
}

.social__text {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: rgba(22, 0, 66, 0.5);
}

.social__hintContent {
  margin-top: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #0077ff;
  transition: 0.3s;
}

.social__hintContent_link:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.social__hintContent span {
  margin-left: 10px;
}

.project__decorator {
  position: sticky;
  top: 30px;
  max-width: 170px;
  max-height: 210px;
}

.project__decorator img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1279px) {
  .main__project {
    padding-top: 120px;
  }

  .project__name {
    font-size: 50px;
    line-height: 68px;
  }

  .project__container {
    margin-top: 40px;
  }

  .project__contentBox {
    margin-top: 20px;
  }

  .project__text {
    width: 580px;
  }

  .project__decorator {
    max-width: 100px;
    max-height: 120px;
  }

  .project__meta {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 28px;
  }

  .project__paragraph {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
  }

  .project__image {
    margin-bottom: 40px;
  }

  .project__footer {
    padding-top: 30px;
  }

  .social__text {
    font-size: 14px;
    line-height: 19px;
  }

  .social__hintContent {
    margin-top: 10px;
    font-size: 14px;
    line-height: 19px;
  }
}

@media screen and (max-width: 767px) {
  .main__project {
    padding-bottom: 80px;
  }

  .project__decorator {
    display: none;
  }

  .project__text {
    width: 100%;
  }

  .project__meta {
    margin-bottom: 40px;
  }

  .project__name {
    font-size: 30px;
    line-height: 41px;
  }

  .project__meta {
    font-size: 18px;
    line-height: 28px;
  }
}
